<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MoniFLIX</title>
	<link type="text/css" href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link type="text/css" href="/css/theme.css" rel="stylesheet">
	<link type="text/css" href="/css/style.css" rel="stylesheet">
	<link type="text/css" href="/images/icons/css/font-awesome.css" rel="stylesheet">
	<link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet'>

</head>
<body>
	<div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <i class="icon-reorder shaded"></i>
                </a>
                <a class="brand" href="/">MoniFlix
                </a>

                <div class="nav">
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
                
                </div>

                <div class="nav-collapse collapse navbar-inverse-collapse">
                <%if(!currentUser){%>
                    <ul class="nav pull-right">
                        <li><a href="/users/signin">
                            Sign In
                        </a></li>
                        <li><a href="/users/signup">
                            Sign Up
                        </a></li>
                    </ul>
                    <%}%>
                </div><!-- /.nav-collapse -->
            </div>
        </div><!-- /navbar-inner -->
    </div><!-- /navbar -->
