<% include partials/homeHeader %>

<div class="wrapper">
    <div class="container">
		<div class="span9">
	    	<div class="content">
	           

 <div class="site-section cta-big-image" id="about-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-8 text-center">
            <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">About Us</h2>
            <p class="lead" data-aos="fade-up" data-aos-delay="100">An Overview Of Who We Are.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
            <img src="images/hero_1.jpg" alt="" class="img-fluid">
            </figure>
          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            
            <h3 class="text-black mb-4">We Solve Your Financial Problem</h3>

            <p>Moniflix Nigeria is a financial institution fashioned and designed with aims of helping lives and our customers achieve their various financial aims and objectives through our various, well designed, safe and secure channels.</p>

            <p>Living in an uncertain economy, we are committed to securing our customer's finance/savings, bringing flexible and secure savings plans to their doorstep via our various savings channels that suits their taste, anytime, anywhere.</p>
            
          </div>
        </div> 

        <div class="container">
                    
            <h3 class="text-black mb-4">Our Core Value</h3>
            <p>in regard to the afore said, we aim to provide financial services with integity, fairness and utmost transparency which depicts out existence.</p>

        </div>

        <div class="container">
            <br>
            <h3 class="text-black mb-4">Our Mission</h3>

            <p>Moniflix is established to fill the micro gaps in our financial sectors. we aim to create employments, empowerment of community traders, such as market men and women, artisans, creative/innovative enterpreneurs, empowerment of students and graduates alike through skills aquisitions and lots more.</p>
            <p>To help students, traders, salary earners and all class of individuals have access to savings for future plans or targets using our well designed platforms.</p>

        </div>

        <div class="container">
            <br>
            <h3 class="text-black mb-4">Our Vision</h3>
          <ul class="list-unstyled ul-check success">
            <p><li>Having Great financial institutions in the past and present, quite few have lasted the test of time and more failed. Moniflix is committed to a lasting legacy which will exist in decades to come.</li></p>
            <p><li>To Make savings simpler, easier, smarter, and bringing it to customer's doorstep.</li></p>
            <p><li>To solve the challenges of the absence of banking systems in rural areas/communities in our society.</li></p>
            <p><li>To have a fast growing financial institution round the world through standard and service with integrity to the society at large.</li></p>
            <p><li>To maintain strong relationships with our investors.</li></p>
            <p><li>To attract strong local and foreign investors through organised and standard systems.</li></p>
          </ul>
        </div>






			</div>
      </div>
		</div>
	</div>
</div>



<% include partials/homeFooter %>