<% include partials/loginheader %>

<div class="wrapper">
    <div class="container">
		<div class="span9">
	    	<div class="content">
	            <h2> About MoniFlix </h2>
	            <p> 
			</div>
		</div>
	</div>
</div>

<% include partials/loginfooter %>