<% include partials/header %>



                    <div class="span9">
                        <div class="content">
                            <div class="btn-controls">
                                <div class="btn-box-row row-fluid">
                                    <a href="#" class="btn-box big span4"><i class="icon-money"></i><b>NGN 0</b>
                                        <p class="text-muted">
                                            Today's Contribution
                                        </p>
                                    </a><a href="#" class="btn-box big span4"><i class="icon-money"></i><b>NGN 155,000</b>
                                        <p class="text-muted">
                                            Current Balance</p>
                                    </a><a href="#" class="btn-box big span4"><i class="icon-money"></i><b>NGN 100,152</b>
                                        <p class="text-muted">
                                            Available For Withdrawal</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                      
                    <!--/.span9-->
                </div>
            </div>
            <!--/.container-->
        </div>
        <!--/.wrapper-->

        
        
<% include partials/footer %>