<% include partials/header %>



                    <div class="span9">
                        <div class="content">
                        <div>
                        <h4><%= currentUser.firstname %>, How would you like to make this withdrawal? </h4>
                        </div>
                            <div class="btn-controls">
                                <div class="btn-box-row row-fluid">
                                    <a href="#" class="btn-box big span4"><i class="icon-money"></i><p class="text-muted"> Use Moniflix Card </p></a>
                                    <a href="#" class="btn-box big span4"><i class="icon-money"></i><p class="text-muted"> Use My Debit Card </p></a>
                                    <a href="/users/deposit/cashdeposit" class="btn-box big span4"><i class="icon-money"></i><p class="text-muted"> Make Cash Deposit </p></a>
                                </div>
                            </div>
                        </div>
                      
                    <!--/.span9-->
                </div>
            </div>
            <!--/.container-->
        </div>
        <!--/.wrapper-->

        
        
<% include partials/footer %>