<% include partials/homeHeader %>
              

  
     
    <div class="site-blocks-cover overlay" style="background-image: url(images/6.jpg);" data-aos="fade" id="home-section">

      <div class="container">
        <div class="row align-items-center justify-content-center">

          
          <div class="col-md-10 mt-lg-5 text-center">
            <div class="single-text owl-carousel">
              <div class="slide">
                <h1 class="" data-aos="fade-up">Welcome To Moni<span>Flix</span></h1>
                <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="100">. . . Your credible financial solutions provider!</p>
                <div data-aos="fade-up" data-aos-delay="100">
                  <a href="https://www.moniflix.com" class="btn  btn-primary mr-2 mb-2">Explore</a>
                </div>
              </div>
              <div class="slide">
                <h1 class="" data-aos="fade-up">Introducing Flix Shares</span></h1>
                <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="100">. . . Creating Credible Financial Solutions!</p>
                <div data-aos="fade-up" data-aos-delay="100">
                  <a href="https://www.moniflix.com" class="btn btn-primary mr-2 mb-2">Explore</a>
                </div>
              </div>
              <div class="slide">
                <h1 class="" data-aos="fade-up">Introducing Flix Card</span></h1>
                <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="100">. . . Creating Credible Financial Solutions!</p>
                <div data-aos="fade-up" data-aos-delay="100">
                  <a href="https://www.moniflix.com" class="btn  btn-primary mr-2 mb-2">Explore</a>
                </div>
              </div>

            </div>
          </div>
            
        </div>
      </div>

      <a href="#next" class="mouse smoothscroll">
        <span class="mouse-icon">
          <span class="mouse-wheel"></span>
        </span>
      </a>
    </div>  

    <div class="site-section" id="next">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="">
            <img src="images/flaticon-svg/svg/001-wallet.svg" alt="" class="img-fluid w-25 mb-4">
            <h3 class="card-title">Daily Savings</h3>
            <p>Our daily savings plan is designed to help our customers achieve their dreams, targets or needs by contributing daily towards that goal.</p>
          </div>
          <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="100">
            <img src="images/flaticon-svg/svg/004-cart.svg" alt="" class="img-fluid w-25 mb-4">
            <h3 class="card-title">Loans</h3>
            <p>We give soft and flexible loans in different categories to our customers, this is because moniflix is designed just with our customers in mind.</p>
          </div>
          <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="200">
            <img src="images/flaticon-svg/svg/006-credit-card.svg" alt="" class="img-fluid w-25 mb-4">
            <h3 class="card-title">Investments</h3>
            <p>Designed to suit the standard of our existing and intending investors, giving all the platform of generating a profitable interest on all investments.</p>
          </div>

        </div>

        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
            <img src="images/17.jpg" alt="Moniflix Shares" class="img-fluid">
            </figure>
          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="mb-4">
              <h3 class="h3 mb-4 text-black">Introducing Flix Shares</h3>
              <p>Flix Shares gives every customer a chance of investing their savings with interest in return.</p>
              
            </div>
              
            <div class="mb-4">
              <ul class="list-unstyled ul-check success">
                <li>No Risk Of Losing Your Funds</li>
                <li>Get returns on your Investments Daily</li>
                <li>Cash Out Anytime You Want</li>
              </ul>
              
            </div>

            <div class="mb-4">
              <form action="#">
                <div class="form-group d-flex align-items-center">
                  <input type="text" class="form-control mr-2" placeholder="Enter your email">
                  <input type="submit" class="btn btn-primary" value="Join Now">
                </div>
              </form>
            </div>

            
            
          </div>
        </div>
      </div>
    </div>

    
    <div class="site-section cta-big-image" id="about-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-8 text-center">
            <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">About Us</h2>
            <p class="lead" data-aos="fade-up" data-aos-delay="100">MoniFlix is a subsidiary of Global Diamond Cooperative Ltd. </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
            <figure class="circle-bg">
            <img src="images/7.jpg" alt="About Us" class="img-fluid">
            </figure>
          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            
            <h3 class="text-black mb-4">We Solve Your Financial Problem</h3>

            <p>Moniflix Nigeria is a financial institution fashioned and designed with aims of helping lives and our customers achieve their various financial aims and objectives through our various platforms and well designed, safe and secure channels.</p>

            <p>Living in an uncertain economy, we are committed to securing our customer's finance /savings by bringing flexible and secure savings plan to your door step via using our various savings channels that suits your style anytime, anywhere.</p>
            
            <p><a href="/about" class="btn btn-primary mr-2 mb-2">Read More</a></p>
          </div>
        </div>    
        
      </div>  
    </div>

    
    <section class="site-section border-bottom" id="team-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-8 text-center">
            <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Meet The Team</h2>
            <p class="lead" data-aos="fade-up" data-aos-delay="100">Moniflix Is backed by a reputable team of staff and management. Meet them.</p>
          </div>
        </div>
        <div class="row">
          

          <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="">
            <div class="team-member">
              <figure>
                <ul class="social">
                  <li><a href="#"><span class="icon-facebook"></span></a></li>
                  <li><a href="#"><span class="icon-twitter"></span></a></li>
                  <li><a href="#"><span class="icon-linkedin"></span></a></li>
                  <li><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
                <img src="images/obinna.jpg" alt="Obinna" class="img-fluid">
              </figure>
              <div class="p-3">
                <h3>Obinna</h3>
                <span class="position"></span>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <figure>
                <ul class="social">
                  <li><a href="#"><span class="icon-facebook"></span></a></li>
                  <li><a href="#"><span class="icon-twitter"></span></a></li>
                  <li><a href="#"><span class="icon-linkedin"></span></a></li>
                  <li><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
                <img src="images/samuel.jpg" alt="Samuel" class="img-fluid">
              </figure>
              <div class="p-3">
                <h3>Samuel</h3>
                <span class="position"></span>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <figure>
                <ul class="social">
                  <li><a href="#"><span class="icon-facebook"></span></a></li>
                  <li><a href="#"><span class="icon-twitter"></span></a></li>
                  <li><a href="#"><span class="icon-linkedin"></span></a></li>
                  <li><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
                <img src="images/gift.jpg" alt="Gift" class="img-fluid">
              </figure>
              <div class="p-3">
                <h3>Gift</h3>
                <span class="position"></span>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="300">
            <div class="team-member">
              <figure>
                <ul class="social">
                  <li><a href="#"><span class="icon-facebook"></span></a></li>
                  <li><a href="#"><span class="icon-twitter"></span></a></li>
                  <li><a href="#"><span class="icon-linkedin"></span></a></li>
                  <li><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
                <img src="images/lazarus.jpg" alt="Lazarus" class="img-fluid">
              </figure>
              <div class="p-3">
                <h3>Lazarus</h3>
                <span class="position"></span>
              </div>
            </div>
          </div>

          
        </div>
      </div>
    </section>

    


    <section class="site-section">
      <div class="container">

        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">How It Works</h2>
            <p class="lead" data-aos="fade-up" data-aos-delay="100">Get an insight Into How Moniflix Operates.</p>
          </div>
        </div>
        
        <div class="row align-items-lg-center" >
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">

            <div class="owl-carousel slide-one-item-alt">
              <img src="images/slide_1.jpg" alt="Image" class="img-fluid">
              <img src="images/slide_2.jpg" alt="Image" class="img-fluid">
              <img src="images/slide_3.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="custom-direction">
              <a href="#" class="custom-prev"><span><span class="icon-keyboard_backspace"></span></span></a><a href="#" class="custom-next"><span><span class="icon-keyboard_backspace"></span></span></a>
            </div>

          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            
            <div class="owl-carousel slide-one-item-alt-text">
              <div>
                <h2 class="section-title mb-3">01. Sign Up</h2>
                <p>Sign up to open an account and get your account number. with this you can perform different transactions, you can save your money, you can also transfer money seamlessly from your account to any bank in Nigeria.</p>

                <p><a href="/users/signin" class="btn btn-primary mr-2 mb-2">Get Started</a></p>
              </div>
              <div>
                <h2 class="section-title mb-3">02. Save Money</h2>
                <p>Using our different easy and flexible savings channels, you can save money as many times as you want. Flix card, Debit Card and also using our USSD channels enables you to save money as you like at your own pace</p>
                <p><a href="/users/signin" class="btn btn-primary mr-2 mb-2">Get Started</a></p>
              </div>
              <div>
                <h2 class="section-title mb-3">03. Withdraw Your Savings</h2>
                <p>Use seamless withdrawal methods to collect back your savings whenever you need it.</p>

                <p><a href="/users/signin" class="btn btn-primary mr-2 mb-2">Get Started</a></p>
              </div>
              
            </div>
            
          </div>
        </div>
      </div>
    </section>

    <section class="site-section testimonial-wrap" id="testimonials-section" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Happy Customers</h2>
          </div>
        </div>
      </div>
      <div class="slide-one-item home-slider owl-carousel">
          <div>
            <div class="testimonial">
              
              <blockquote class="mb-5">
                <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
              </blockquote>

              <figure class="mb-4 d-flex align-items-center justify-content-center">
                <div><img src="images/person_3.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>
                <p>John Smith</p>
              </figure>
            </div>
          </div>
          <div>
            <div class="testimonial">

              <blockquote class="mb-5">
                <p>&ldquo;A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.&rdquo;</p>
              </blockquote>
              <figure class="mb-4 d-flex align-items-center justify-content-center">
                <div><img src="images/person_2.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>
                <p>Christine Aguilar</p>
              </figure>
              
            </div>
          </div>

          <div>
            <div class="testimonial">

              <blockquote class="mb-5">
                <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
              </blockquote>
              <figure class="mb-4 d-flex align-items-center justify-content-center">
                <div><img src="images/person_4.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>
                <p>Robert Spears</p>
              </figure>

              
            </div>
          </div>

          <div>
            <div class="testimonial">

              <blockquote class="mb-5">
                <p>&ldquo;The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.&rdquo;</p>
              </blockquote>
              <figure class="mb-4 d-flex align-items-center justify-content-center">
                <div><img src="images/person_4.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>
                <p>Bruce Rogers</p>
              </figure>

            </div>
          </div>

        </div>
    </section>

        <div class="row">
          <div class="col-md-12 mb-5">

            

          
          </div>
          
        </div>
      </div>
    </section>

    
    
       

<% include partials/homeFooter %>