<% include partials/header %>


                    <div class="span9">
                        <div class="content">
                        <div>
                        <h4>Agent Management Portal</h4>
                        </div>
                            <div class="btn-controls">
                                <div class="btn-box-row row-fluid">
                                    <a href="/staffandagents" class="btn-box big span4"><i class="icon-money"></i>
                                    
                                        <p class="text-muted">
                                            Manage Existing Agents
                                        </p>
                                    </a><a href="/agentapplications" class="btn-box big span4"><i class="icon-money"></i>
                                        <p class="text-muted">
                                            New Agent Applications
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                      
                            </div>
                        </div>
                      
                    <!--/.span9-->
                </div>
            </div>
            <!--/.container-->
        </div>
        <!--/.wrapper-->

        
        
<% include partials/footer %>