<% include partials/header %>

        <div class="container">
            <div class="row">
                <div class="module span4">
                    <form class="form-vertical" action="/users/updatepassword" method="POST">
                        <div class="module-head">
                            <h3>Update My Password</h3>
                        </div>
                        <div class="module-body">
                            <div class="control-group">
                                <div class="controls row-fluid">
                                    <input class="span12" name="oldPassword" type="text" id="oldPassword" placeholder="Enter Your Current Password"> 
                                </div>
                            </div>
                        </div>
                        <div class="module-body">
                            <div class="control-group">
                                <div class="controls row-fluid">
                                    <input class="span12" name="newPassword" type="text" id="newPassword" placeholder="Enter Your New Password" > 
                                </div>
                            </div>
                        </div>
                        <div class="module-body">
                            <div class="control-group">
                                <div class="controls row-fluid">
                                    <input class="span12" name="newPassword2" type="text" id="newPassword2" placeholder="Confirm Your New Password" > 
                                </div>
                            </div>
                        </div>
                        <div class="module-foot">
                            <div class="control-group">
                                <div class="controls clearfix">
                                    <button type="submit" class="btn btn-primary pull-right">Update Password</button>
                                </div>
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!--/.wrapper-->



<% include partials/footer %>