<% include partials/homeHeader %>


    <section class="site-section bg-light" id="contact-section" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Our Terms And Conditions</h2>
          </div>
        </div>
        <div class="row mb-5">

          <div class="col-md-12">
            <p class="mb-12">
            <li>Subscribers are charged nonrefundable amount of 50naira for registration and 200 naira minimum balance.</li>
            </p>
            <p class="mb-12">
            <li>Moniflix agents get 100 Naira on each account opened with their referral ID number when their customer saves up to 200 Naira and registration inclusive.</li>
            </p>
            <p class="mb-12">
            <li>Moniflix charges 3% commission on all savings monthly or when withdrawing.</li>
            </p>
            <p class="mb-12">
            <li>Moniflix charges 5 Naira on all transfer to all banks using our app or cards.</li>
            </p>
            <p class="mb-12">
            <li>Fixed savings account is commission free </li>
            </p>
            <p class="mb-12">
            <li>Note:Withdrawing before the matured date attracts 3% commission on all withdrawals</li>
            </p>
            <p class="mb-12">
            <li>Moniflix will not be responsible for any withdrawal claims,customers are advised to guide their pins.</li>
            </p>
          </div>
          
          <div>
            <h4>USE OF YOUR SECURITY PASSWORD</h4>
          </div>
<p>You are responsible for keeping your password and Online Account information confidential. In order to protect yourself against fraud, you should adhere to the following guidelines:


Do not give out your account information, Password, or User ID;
Do not leave your PC unattended while you are in the Bank's Online Banking Site;
Never leave your account information within range of others; and
Do not send privileged account information (account number, Password, etc.) in any public or general e-mail system.
If you believe your password has been lost or stolen, or if you suspect any fraudulent activity on your account, call the Bank immediately
<p>
<div>
    <h4>BILL PAYMENT SERVICES</h4>
</div>
<p>
<b>Description of Service:</b> The Bill,withdrawal or tranfer Payments Service permits you to use your Moniflix App device to make direct payments or withdrawal from your designated Account to third parties you wish to pay. Your Account must be a moniflix activated account. Through the Bill Payment,transfer or withdrawal Service, you can pay bills,transfer or withdraw from your moniflix Account to businesses or individual's accounts.
All payments or withdrawal you make will be deducted from your moniflix account that you signed in as your savings or Payment Account.
 Any payments you wish to make through this Service must be payable in Naira or any accepted currency  around the globe.
 We reserve the right to restrict types of payees to whom payments may be made using the Service from time to time. You should not use the Payment Service to make payments to settle securities purchases, payments to interest bearing accounts, tax payments, or court ordered payments. Payments for these payees will be your sole responsibility if delayed or improperly processed or credited.
 </p>
 <p>
<b>No Duty to Monitor Payments:</b> The Bank is only responsible for exercising ordinary care in processing and sending payments upon your authorization in accordance with this Agreement. The Bank will not be liable in any way for damages you incur for any of the following reasons:
insufficient funds in your  moniflix Account to make the payment on the processing date;
delays in mail delivery;
changes to the payee's address or account number unless we've been advised of the change in advance or
any other circumstances beyond the control of the Bank.
</p>
<div>
    <h4>YOUR INFORMATION AND ACCOUNT DATA WITH OTHER FINANCIAL INSTITUTIONS.</h4>
</div>
<p>
 Our financial management tools allow you to view accounts that you may have outside our financial institution (this is a process called "aggregation"). When you choose to use online financial services which are applicable to data that you have transacted with other financial institutions or card issuers, you are consenting to us accessing and aggregating your data from those outside financial institutions. That data includes your financial institution account access number(s), password(s), security question(s) and answer(s), account number(s), login information, and any other security or access information used to access your account(s) with other financial institutions, and the actual data in your account(s) with such financial institution(s) such as account balances, debits and deposit (collectively, "Financial Account Data"). In giving that consent, you are agreeing that we, or a third party vendor on our behalf, may use, copy and retain all non-personally identifiable information of yours for the following purpose: (i) as pertains to the use, function, or performance of the services which you have selected; (ii) as necessary or useful in helping us, or third parties on our behalf, to diagnose or correct errors, problems, or defects in the services you have selected; (iii) for measuring downloads, acceptance, or use of the services you have selected; (iv) for the security or protection of the services you have selected; (v) for the evaluation, introduction, implementation, or testing of the services you have selected, or their upgrade, improvement or enhancement; (vi) to assist us in performing our obligations to you in providing the services you have selected.
</p>
<p>
If we make additional online financial services available to you which are applicable to data that you have transacted with other financial institutions or card issuers, and which we will aggregate at this site, we will separately ask for your consent to collect and use that information to provide you with relevant offers and services. If you give us your consent, you will be agreeing to permit us to use Financial Account Data to help us suggest savings opportunities or additional products and services to you.
</p>
<div>
<h4>TERMS OF TERMINATION</h4>
</div>
 <p>This Agreement will become effective on the Effective Date and shall remain in full force and effect until termination in accordance with the following provisions.
 </p>
 <p>
<b>Termination for Cause.</b> We may immediately terminate your electronic banking privileges (including the Bill Payment Service) without notice to you under the following circumstances:
</p>
<p>
<li>You do not adhere to the requirements of this Agreement when necessary.</li>
<li>You do not comply with the agreement governing your deposit or loan accounts or your accounts are not maintained in good standing.</li>
<li>We will promptly notify you if we terminate this Agreement or your use of the Services for any other reason.</li>
<li>No Signature Required. When any payment or other Service generates to be charged to your account, you agree that we may debit your moniflix account without requiring your signature on the transactions, and without prior notice to you.</li>
</p>
<div>
    <h4>OUR LIABILITY</h4>
</div>
<div>
 <p>This section explains our liability to you only to the extent that any other agreements, notices or disclosures have not separately disclosed our liability. In no event shall we be liable to you for failure to provide access to your Online Banking or Bill Payment services accounts. Unless otherwise required by applicable law, we are only responsible for performing the Banking and fund Payment services as delineated in this Agreement. We will be liable for the amount of any material losses or damages incurred by you and resulting directly from our gross negligence.
 <p>
 </div>
 <div>
<h6>We will not be liable to you in the following instances: </h6>
</div>
<p>
<li>If through no fault of the Bank, you do not have enough money in your account to make the transfer.</li>
<li>If circumstances beyond our control (such as fire, flood, power outage, equipment or technical failure or breakdown) prevents the transfer despite reasonable precautions that we have taken.</li>
<li>If there is a hold on your account, or if access to your account is blocked, in accordance with banking policy.</li>
<li>If your funds are subject to a legal proceeding or other encumbrance is restricting the transfer.</li>
<li>If your transfer authorization terminates by operation of law.</li>
<li>If you believe someone has accessed your accounts without your permission and you fail to notify the Bank immediately.</li>
<li>If you have not properly followed the instructions on how to make a transfer,l or other services included in this Agreement.</li>
<li>If we have received incomplete or inaccurate information from you or a third party involving the account or transfer.</li>
<li>If we have a reasonable basis for believing that unauthorized use of your Password or account has occurred or may be occurring or if you default under this Agreement, the deposit account agreement, a credit agreement or any other agreement with us, or if we or you terminate this Agreement.</li>
</p>
          
        </div>
      </div>
    </section>

    
<% include partials/homeFooter %>