<% include partials/header %>



                    <div class="span9">
                        <div class="content">
                        <div>
                        <h4><%= currentUser.firstname %>, How would you like to make this withdrawal? </h4>
                        </div>
                            <div class="btn-controls">
                                <div class="btn-box-row row-fluid">
                                    <a href="#" class="btn-box big span4"><i class="icon-money"></i><p class="text-muted"> Withdraw To My Bank Account </p></a>
                                    <a href="#" class="btn-box big span4"><i class="icon-money"></i><p class="text-muted"> Withdraw To Other Bank Account</p></a>
                                    <a href="/users/withdrawal/cashwithdrawal" class="btn-box big span4"><i class="icon-money"></i><p class="text-muted"> Make Cash Withdrawal </p></a>
                                </div>
                            </div>
                        </div>
                  </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            </div>
                        </div>
                      
                    <!--/.span9-->
                </div>
            </div>
            <!--/.container-->
        </div>
        <!--/.wrapper-->
        
        
<% include partials/footer %>